In [24]:
import pandas as pd
import numpy as np
import seaborn as sea
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"C:\Users\Jey\Documents\Analyst Dataset\Credit_Transactions.csv")

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,8,CASH_OUT,158007.12,C424875646,0.00,0.00,C1298177219,474016.32,1618631.97,0
1,236,CASH_OUT,457948.30,C1342616552,0.00,0.00,C1323169990,2720411.37,3178359.67,0
2,37,CASH_IN,153602.99,C900876541,11160428.67,11314031.67,C608741097,3274930.56,3121327.56,0
3,331,CASH_OUT,49555.14,C177696810,10865.00,0.00,C462716348,0.00,49555.14,0
4,250,CASH_OUT,29648.02,C788941490,0.00,0.00,C1971700992,56933.09,86581.10,0

In [4]:
df_corr = df.corr().abs()
df_corr

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
step,1.000000,0.020598,0.012566,0.012849,0.026898,0.024205,0.034771
amount,0.020598,1.000000,0.001412,0.006926,0.321497,0.488105,0.080721
oldbalanceOrg,0.012566,0.001412,1.000000,0.998737,0.068276,0.042432,0.012824
newbalanceOrig,0.012849,0.006926,0.998737,1.000000,0.069920,0.042345,0.007229
oldbalanceDest,0.026898,0.321497,0.068276,0.069920,1.000000,0.974219,0.006936
newbalanceDest,0.024205,0.488105,0.042432,0.042345,0.974219,1.000000,0.000807
isFraud,0.034771,0.080721,0.012824,0.007229,0.006936,0.000807,1.000000

In [5]:
df_corr = df_corr[df_corr != 1.0]
df_corr.unstack().sort_values(ascending=False)[:20]

newbalanceOrig  oldbalanceOrg     0.998737
oldbalanceOrg   newbalanceOrig    0.998737
oldbalanceDest  newbalanceDest    0.974219
newbalanceDest  oldbalanceDest    0.974219
                amount            0.488105
amount          newbalanceDest    0.488105
oldbalanceDest  amount            0.321497
amount          oldbalanceDest    0.321497
                isFraud           0.080721
isFraud         amount            0.080721
oldbalanceDest  newbalanceOrig    0.069920
newbalanceOrig  oldbalanceDest    0.069920
oldbalanceOrg   oldbalanceDest    0.068276
oldbalanceDest  oldbalanceOrg     0.068276
oldbalanceOrg   newbalanceDest    0.042432
newbalanceDest  oldbalanceOrg     0.042432
                newbalanceOrig    0.042345
newbalanceOrig  newbalanceDest    0.042345
isFraud         step              0.034771
step            isFraud           0.034771
dtype: float64

In [6]:
df['isPayment'] = 0
df['isPayment'] = df['type'].isin(['PAYMENT', 'DEBIT']).astype(int) #assign 2 variables as "true" and change "true" to 1
df['isPayment'].head()

0    0
1    0
2    0
3    0
4    0
Name: isPayment, dtype: int32

In [7]:
df['isMovement'] = 0
df['isMovement'] = df['type'].isin(['CASH_OUT','TRANFER']).astype(int)
df['isMovement'].head()

0    1
1    1
2    0
3    1
4    1
Name: isMovement, dtype: int32

In [8]:
df['accDiff'] = abs(df['oldbalanceOrg'] - df['oldbalanceDest'])

In [9]:
df_corr = df.corr().abs()

In [10]:
df_corr = df_corr[df_corr != 1.0]
df_corr.unstack().sort_values(ascending=False)[:20]

newbalanceOrig  oldbalanceOrg     0.998737
oldbalanceOrg   newbalanceOrig    0.998737
newbalanceDest  oldbalanceDest    0.974219
oldbalanceDest  newbalanceDest    0.974219
                accDiff           0.784128
accDiff         oldbalanceDest    0.784128
newbalanceDest  accDiff           0.759232
accDiff         newbalanceDest    0.759232
                oldbalanceOrg     0.590663
oldbalanceOrg   accDiff           0.590663
accDiff         newbalanceOrig    0.589085
newbalanceOrig  accDiff           0.589085
isMovement      isPayment         0.535190
isPayment       isMovement        0.535190
amount          newbalanceDest    0.488105
newbalanceDest  amount            0.488105
oldbalanceDest  amount            0.321497
amount          oldbalanceDest    0.321497
accDiff         isPayment         0.269001
isPayment       accDiff           0.269001
dtype: float64

In [11]:
df.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isPayment,isMovement,accDiff
0,8,CASH_OUT,158007.12,C424875646,0.00,0.00,C1298177219,474016.32,1618631.97,0,0,1,474016.32
1,236,CASH_OUT,457948.30,C1342616552,0.00,0.00,C1323169990,2720411.37,3178359.67,0,0,1,2720411.37
2,37,CASH_IN,153602.99,C900876541,11160428.67,11314031.67,C608741097,3274930.56,3121327.56,0,0,0,7885498.11
3,331,CASH_OUT,49555.14,C177696810,10865.00,0.00,C462716348,0.00,49555.14,0,0,1,10865.00
4,250,CASH_OUT,29648.02,C788941490,0.00,0.00,C1971700992,56933.09,86581.10,0,0,1,56933.09

In [13]:
x = df[['amount', 'isPayment', 'isMovement', 'accDiff']]
y = df['isFraud']

In [14]:
x_train, x_test, y_train, y_test=train_test_split(x,y)

In [15]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
model = LogisticRegression().fit(x_train, y_train)
model.score(x_test,y_test) #testing scores

0.99846

In [23]:
model.score(x_train,y_train) #training scores

0.9985866572443817

In [18]:
#new transactional data example
transaction1 = np.array([123111.38, 0.0, 1.0, 13470.1])
transaction2 = np.array([328700.17, 1.0, 0.0, 3124.75])
transaction3 = np.array([62758.50, 1.0, 0.0, 93025.5])

In [19]:
#stacking the new transactions into one df
all_transactions = np.stack((transaction1,transaction2,transaction3)) #add the extra parenthesis for this to work

In [25]:
trans_scale = scaler.transform(all_transactions)

In [26]:
model.predict(trans_scale)

array([0, 0, 0], dtype=int64)

In [27]:
model.predict_proba(trans_scale)

array([[9.97932573e-01, 2.06742669e-03],
       [9.99975017e-01, 2.49828461e-05],
       [9.99978181e-01, 2.18186788e-05]])